<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>RE2</string>
    <key>CFBundleShortVersionString</key>
    <string>%{RE2_VERSION}</string>
    <key>CFBundleGetInfoString</key>
    <string>Rapid Evolution</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>appIcon.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>rapid_evolution.RapidEvolution</string>
      <key>JVMVersion</key>
      <string>1.3+</string>
      <key>VMOptions</key>
      <string>-Xmx%{RE2_MEMORY}m -Dsun.swing.enableImprovedDragGesture -Dswing.aatext=%{RE2_AA} -Djava.security.policy=client.policy</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/rapid_evolution.jar</string>
        <string>$JAVAROOT/bundles</string>
        <string>$JAVAROOT/libs/RE2DataRetriever.jar</string>
        <string>$JAVAROOT/libs/JID3.jar</string>
        <string>$JAVAROOT/libs/RelativeLayout.jar</string>
        <string>$JAVAROOT/libs/jflac-1.2.jar</string>
        <string>$JAVAROOT/libs/vorbisspi1.0.2.jar</string>
        <string>$JAVAROOT/libs/jftp.jar</string>
        <string>$JAVAROOT/libs/jl1.0.jar</string>
        <string>$JAVAROOT/libs/jogg-0.0.7.jar</string>
        <string>$JAVAROOT/libs/jmac.jar</string>
        <string>$JAVAROOT/libs/jorbis-0.0.15.jar</string>
        <string>$JAVAROOT/libs/mp3spi1.9.4.jar</string>
        <string>$JAVAROOT/libs/myid33.jar</string>
        <string>$JAVAROOT/libs/poi-2.5.1-final-20040804.jar</string>
        <string>$JAVAROOT/libs/tritonus_mp3.jar</string>
        <string>$JAVAROOT/libs/tritonus_jorbis.jar</string>
        <string>$JAVAROOT/libs/substance.jar</string>
        <string>$JAVAROOT/libs/tritonus_share.jar</string>
        <string>$JAVAROOT/libs/commons-codec-1.3.jar</string>
        <string>$JAVAROOT/libs/commons-httpclient-3.0.1.jar</string>
        <string>$JAVAROOT/libs/commons-logging-1.1.jar</string>
        <string>$JAVAROOT/libs/commons-logging-api-1.1.jar</string>
		<string>$JAVAROOT/libs/log4j-1.2.13.jar</string>
		<string>$JAVAROOT/libs/MRJAdapter.jar</string>
		<string>$JAVAROOT/libs/jid3lib-0.5.4.jar</string>
		<string>$JAVAROOT/libs/jaudiotagger.jar</string>
		<string>$JAVAROOT/libs/entagged-tageditor-0.21.jar</string>
		<string>$JAVAROOT/libs/jmacspi15.jar</string>
		<string>$JAVAROOT/libs/jmacdecoder.jar</string>
		<string>$JAVAROOT/libs/jmactritonusspi.jar</string>
		<string>$JAVAROOT/libs/jcalendar-1.3.2.jar</string>
		<string>$JAVAROOT/libs/quaqua.jar</string>
		<string>/System/Library/Java</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>RE2</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>java.library.path</key>
        <string>$JAVAROOT/libs/libquaqua.jnilib</string>
      </dict>
    </dict>
  </dict>
</plist>
